body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
    margin: 0; /* Remove default margin */
    font-family: Arial, sans-serif; /* Universal font */
    background-blend-mode: darken; /* Blend background with color */
}

.header {
    text-align: center;
    margin-bottom: 20px; /* Space between header and Bingo table */
    padding: 0 10px; /* Padding to ensure text doesn't touch the edges */
}

.container {
    border: 2px solid #244ae5; /* Prominent border */
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    backdrop-filter: blur(5px); /* Frosted glass effect */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Subtle shadow for depth */
    border-radius: 10px; /* Rounded corners */
    max-width: 90%; /* Maximum width for responsiveness */
    margin: auto; /* Center the container */
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed; /* Ensures consistent cell sizing */
}

td {
    border: 1px solid #ddd;
    text-align: center;
    padding: 10px; /* Adjust padding if needed */
    font-size: calc((4vw + 4vh) / 15); /* Dynamic font scaling based on viewport size */
    max-font-size: 20px; /* Set a maximum font size */
    color: #000;
    word-wrap: break-word; /* Ensures text breaks to fit in the cell */
    overflow: hidden; /* Hide overflow */
    transition: background-color 0.3s;
}

td:hover {
    background-color: #f4f4f4;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .container, table {
        width: 100%; /* Full width on small screens */
    }

    td {
        padding: 5px; /* Smaller padding on smaller screens */
        font-size: calc((5vw + 5vh) / 15); /* Adjust font scaling for smaller screens */
    }
}

.small-view {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 300px; /* Adjust based on desired size */
    height: 300px; /* Adjust based on desired size */
    overflow: scroll; /* Add scroll if content overflows */
    /* ... other styles like reduced font size, padding, etc. ... */
}
